venv
artmatch/artmatch/__init__.py
artmatch/artmatch/asgi.py
artmatch/artmatch/settings.py
artmatch/artmatch/wsgi.py
artmatch/artmatch/__pycache__
artmatch/articles/__pycache__
artmatch/articles/migrations/*
artmatch/articles/static/articles/d2v.model
artmatch/articles/management/__init__.py
artmatch/articles/management/__pycache__/
artmatch/articles/management/commands/__init__.py
artmatch/articles/management/commands/__pycache__/
artmatch/articles/tests/__init__.py
artmatch/articles/tests/__pycache__/
artmatch/db.sqlite3
artmatch/manage.py
ArtMatchDB