{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'articles/style.css' %}">

<h1>{{ articles.title }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<p><a href={{articles.url}}>元記事</a></p>

<p id="main_text">
    {{articles.body}}
</p>

<p><a href="{% url 'articles:index' %}">記事一覧に戻る</a></p>

<h2>類似記事</h2>
{% if similar_articles %}
    <ul>
    {% for id,title in similar_articles.items %}
        <li><a href="{% url 'articles:detail' id %}">{{ title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>類似記事はありません</p>
{% endif %}