{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'articles/style.css' %}">

<h1>
    {{ article.title }}
</h1>

{% if notice_message %}
    <p>
        <strong>{{ notice_message }}</strong>
    </p>
{% endif %}

<p>
    <a href={{article.url}}>元記事</a>
</p>

<p id="main_text">
    {{article.body | safe}}
</p>

<p>
    <a href="{% url 'articles:index' %}">記事一覧に戻る</a>
</p>

<form action="{% url 'articles:vote' article.id %}" method="post">
    {% csrf_token %}
    <input type="radio" name="preference" id="preference1" value="like">
    <label for="preference1">好き！</label>

    <input type="radio" name="preference" id="preference0" value="unlike">
    <label for="preference0">嫌い...</label>
    
    <br>

    <input type="submit" value="好み登録">
</form>

<h2>
    類似記事
</h2>

{% if similar_articles %}
    <ul>
    {% for id,title in similar_articles.items %}
        <li><a href="{% url 'articles:detail' id %}">{{ title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>
        類似記事はありません
    </p>
{% endif %}